target
capi/target
capi/Cargo.lock
capi/bindings
capi/bind_gen/target
capi/js/livesplit.js
capi/js/livesplit_core.wasm
capi/js/node/livesplit_core.js
capi/js/node/index.js
capi/js/node/README.md
emscripten/target
emscripten/Cargo.lock
Cargo.lock
**.rs.bk
