target
capi/target
capi/Cargo.lock
capi/bindings
capi/bind_gen/target
emscripten/target
emscripten/Cargo.lock
js/livesplit.js
js/node/livesplit_core.js
js/node/index.js
js/node/README.md
Cargo.lock
**.rs.bk
