[package]
name = "livesplit-core"
version = "0.11.0"
authors = ["Christopher Serr <christopher.serr@gmail.com>"]
documentation = "https://docs.rs/livesplit-core/"
repository = "https://github.com/LiveSplit/livesplit-core"
license = "Apache-2.0/MIT"
description = "livesplit-core is a library that provides a lot of functionality for creating a speedrun timer."
readme = "README.md"
keywords = ["speedrun", "timer", "livesplit"]
include = [
    "/benches/*",
    "/src/*",
    "/Cargo.toml",
    "/CHANGELOG.md",
    "/CODE_OF_CONDUCT.md",
    "/LICENSE-APACHE",
    "/LICENSE-MIT",
    "/README.md"
]
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[badges]
# FIXME: Add GitHub Actions badge

[profile.release]
lto = true
panic = "abort"

[workspace]
members = ["capi", "capi/bind_gen", "capi/js", "capi/staticlib", "capi/cdylib", "crates/*"]

[dependencies]
# Required crates
base64 = { version = "0.11.0", default-features = false, features = ["alloc"] }
cfg-if = "0.1.7"
chrono = { version = "0.4.0", features = ["serde", "clock"], default-features = false }
derive_more = { version = "0.99.1", default-features = false, features = ["not", "add", "from", "deref"] }
odds = { version = "0.3.1", default-features = false }
ordered-float = { version = "1.0.2", default-features = false }
palette = { version = "0.5.0", default-features = false, features = ["std"] }
serde = { version = "1.0.98", default-features = false, features = ["derive", "alloc", "std"] }
snafu = { version = "0.6.0", default-features = false, features = ["std"] }
unicase = "2.6.0"

# std
byteorder = "1.3.2"
image = { version = "0.22.0", features = ["png_codec"], default-features = false }
indexmap = { version = "1.2.0", default-features = false, features = ["serde-1"] }
livesplit-hotkey = { path = "crates/livesplit-hotkey", version = "0.5.0" }
parking_lot = { version = "0.9.0", default-features = false }
quick-xml = { version = "0.17.0", default-features = false }
serde_json = "1.0.8"
utf-8 = "0.7.4"

# Rendering
euclid = { version = "0.20.0", default-features = false, optional = true }
livesplit-title-abbreviations = { path = "crates/livesplit-title-abbreviations", version = "0.1.0", optional = true }
lyon = { version = "0.14.0", default-features = false, optional = true }
rusttype = { version = "0.8.0", default-features = false, features = ["std"], optional = true }
smallvec = { version = "1.0.0", default-features = false, optional = true }

# Software Rendering
euc = { version = "0.4.2", default-features = false, optional = true }
vek = { version = "0.9.8", default-features = false, optional = true }

[dev-dependencies]
memmem = "0.1.1"
criterion = "0.3.0"
crc = "1.8.1"

[features]
default = ["image-shrinking"]
more-image-formats = ["image/webp", "image/pnm", "image/ico", "image/jpeg", "image/gif_codec", "image/tiff", "image/tga", "image/bmp", "image/hdr"]
image-shrinking = ["more-image-formats"]
rendering = ["more-image-formats", "euclid", "livesplit-title-abbreviations", "lyon", "rusttype", "smallvec"]
software-rendering = ["rendering", "euc", "vek", "derive_more/mul"]

[[bench]]
name = "balanced_pb"
harness = false

[[bench]]
name = "parsing"
harness = false

[[bench]]
name = "software_rendering"
harness = false
