[package]
name = "livesplit-core"
version = "0.10.0"
authors = ["Christopher Serr <christopher.serr@gmail.com>"]
documentation = "https://docs.rs/livesplit-core/"
repository = "https://github.com/LiveSplit/livesplit-core"
license = "Apache-2.0/MIT"
description = "livesplit-core is a library that provides a lot of functionality for creating a speedrun timer."
readme = "README.md"
keywords = ["speedrun", "timer", "livesplit"]
include = [
    "/src/*",
    "/bench/*",
    "/Cargo.toml",
    "/LICENSE-APACHE",
    "/LICENSE-MIT",
    "/CODE_OF_CONDUCT.md",
    "/README.md"
]
edition = "2018"

[badges]
travis-ci = { repository = "LiveSplit/livesplit-core" }
appveyor = { repository = "CryZe/livesplit-core" }

[profile.release]
lto = true
panic = "abort"

[workspace]
members = ["capi", "capi/bind_gen", "capi/js", "capi/staticlib", "capi/cdylib"]

[dependencies]
base64 = "0.10.0"
byteorder = "1.2.3"
chrono = { version = "0.4.0", features = ["serde", "clock"], default-features = false }
derive_more = "0.13.0"
image = { version = "0.21.0", features = ["png_codec"], default-features = false }
indexmap = { version = "1.0.1", default-features = false, features = ["serde-1"] }
livesplit-hotkey = { path = "hotkey", version = "0.4.0" }
odds = { version = "0.3.1", default-features = false }
ordered-float = "1.0.0"
palette = { version = "0.4.0", default-features = false }
parking_lot = { version = "0.7.0", default-features = false }
quick-error = "1.2.2"
quick-xml = "0.13.0"
serde = "1.0.55"
serde_derive = "1.0.55"
serde_json = "1.0.8"
unicase = "2.1.0"
utf-8 = "0.7.4"

[dev-dependencies]
memmem = "0.1.1"
criterion = "0.2.5"

[features]
default = ["image-shrinking"]
image-shrinking = ["image/webp", "image/pnm", "image/ico", "image/jpeg", "image/gif_codec", "image/tiff", "image/tga", "image/bmp", "image/hdr"]

[[bench]]
name = "balanced_pb"
harness = false

[[bench]]
name = "parsing"
harness = false
