[package]
name = "livesplit-hotkey"
version = "0.5.0"
authors = ["Christopher Serr <christopher.serr@gmail.com>"]
documentation = "https://docs.rs/livesplit-hotkey/"
repository = "https://github.com/LiveSplit/livesplit-core/tree/master/crates/livesplit-hotkey"
license = "Apache-2.0/MIT"
description = "livesplit-hotkey provides cross-platform global hotkey hooks."
keywords = ["speedrun", "timer", "livesplit", "hotkey", "keyboard"]
edition = "2018"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.2", features = [
    "libloaderapi",
    "processthreadsapi",
    "winuser"
], optional = true }
parking_lot = { version = "0.10.0", optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
x11-dl = { version = "2.18.3", optional = true }
mio = { version = "0.6.16", optional = true }
promising-future = { version = "0.2.4", optional = true }

[target.'cfg(all(target_arch = "wasm32", target_os = "unknown"))'.dependencies]
wasm-bindgen = { version = "0.2.54", optional = true }
web-sys = { version = "0.3.28", default-features = false, features = ["KeyboardEvent", "EventTarget", "Window"], optional = true }

[dependencies]
cfg-if = "0.1.10"
serde = { version = "1.0.98", default-features = false, features = ["derive", "alloc"] }
snafu = { version = "0.6.0", default-features = false }

[features]
default = ["std"]
std = ["snafu/std", "serde/std", "parking_lot", "x11-dl", "mio", "promising-future", "winapi"]
wasm-web = ["wasm-bindgen", "web-sys"]
